@font-face {
    font-family: "Ionicons";
    src: url('../assets/fonts/iconfont.eot?t=1499409255316');
    /* IE9*/
    src: url('../assets/fonts/iconfont.eot?t=1499409255316#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/iconfont.woff?t=1499409255316') format('woff'), /* chrome, firefox */
    url('../assets/fonts/iconfont.ttf?t=1499409255316') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../assets/fonts/iconfont.svg?t=1499409255316#iconfont') format('svg');
    /* iOS 4.1- */
}

.icon {
    font-family: "Ionicons" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// .ion-home_default:before {
//     content: "\e63f";
// }
// .ion-my_default:before {
//     content: "\e640";
// }
// .ion-ios-my_check:before {
//     content: "\e642";
// }
// .ion-md-my_check:before {
//     content: "\e642";
// }
// .ion-ios-my_check-outline:before {
//     content: "\e640";
// }
// .ion-ios-home-check:before {
//     content: "\e643";
// }
// .ion-md-home-check:before {
//     content: "\e643";
// }
// .ion-ios-home-check-outline:before {
//     content: "\e63f";
// }
.icon-jia:before {
    content: "\e61a";
}

.icon-shouji:before {
    content: "\e6a1";
}

.icon-wenhao:before {
    content: "\e65e";
}

.icon-duanxin:before {
    content: "\e649";
}

.icon-my:before {
    content: "\e63e";
}

.icon-zhimaxinyong:before {
    content: "\e60c";
}

.icon-xiaoxi:before {
    content: "\e60a";
}

.icon-icon:before {
    content: "\e6f4";
}

.icon-gengduo:before {
    content: "\e61e";
}

.icon-tianjia2:before {
    content: "\e664";
}

.icon-shang:before {
    content: "\e66d";
}

.icon-qian:before {
    content: "\e60f";
}

.icon-shanchu:before {
    content: "\e7d1";
}

.icon-tongxun:before {
    content: "\e60b";
}

.icon-xuanzhong:before {
    content: "\e739";
}

.icon-baomi:before {
    content: "\e612";
}

.icon-shibai:before {
    content: "\e6f7";
}

.icon-display-copy:before {
    content: "\e60d";
}

.icon-kefu1:before {
    content: "\e64b";
}

.icon-tishi5:before {
    content: "\e601";
}

.icon-chenggong:before {
    content: "\e610";
}

.icon-mima:before {
    content: "\e60e";
}

.icon-xitong_duankailianjie:before {
    content: "\eab5";
}

.icon-wancheng:before {
    content: "\e602";
}

.icon-xialasanjiaoxing:before {
    content: "\e618";
}

.icon-shenheshijian:before {
    content: "\e6f6";
}

.icon-zuoyou:before {
    content: "\e62a";
}

.icon-zuoyou1:before {
    content: "\e62b";
}

.icon-fanhui:before {
    content: "\e639";
}

.icon-home_default:before {
    content: "\e63f";
}

.icon-my_default:before {
    content: "\e640";
}

.icon-my_check:before {
    content: "\e642";
}

.icon-home_check:before {
    content: "\e643";
}

.icon-bangzhuzhongxin:before {
    content: "\e625";
}

.icon-guanyuwomen:before {
    content: "\e626";
}

.icon-xinshoubidu:before {
    content: "\e627";
}

.icon-bangzhuzhongxin1:before {
    content: "\e628";
}

.icon-wodeyinhangqia:before {
    content: "\e629";
}

.icon-wodejiekuan:before {
    content: "\e62c";
}

.icon-shezhi:before {
    content: "\e62d";
}

.icon-edurenzheng:before {
    content: "\e62e";
}

.icon-yaoqinghaoyou:before {
    content: "\e62f";
}

.icon-youhuiquan:before {
    content: "\e630";
}

.icon-weixuan:before {
    content: "\e631";
}

.icon-yixuan:before {
    content: "\e632";
}

.icon-quan_weixuan:before {
    content: "\e633";
}

.icon-quan_yixuan:before {
    content: "\e634";
}

.icon-gaoji:before {
    content: "\e635";
}

.icon-jichu:before {
    content: "\e636";
}

.icon-jiafen:before {
    content: "\e637";
}

.icon-dengdai:before {
    content: "\e638";
}

.icon-xuhao_hui:before {
    content: "\e63a";
}

.icon-xuhao:before {
    content: "\e63b";
}

.icon-xuhao_hui1:before {
    content: "\e63c";
}

.icon-xuhao1:before {
    content: "\e63d";
}

.icon-xuhao_hui2:before {
    content: "\e641";
}

.icon-xuhao2:before {
    content: "\e644";
}

.icon-xuhao_hui3:before {
    content: "\e645";
}

.icon-xuhao3:before {
    content: "\e646";
}

.icon-jindu_yiwancheng:before {
    content: "\e647";
}

.icon-jindu_dangqian:before {
    content: "\e648";
}

.icon-yiyuqi:before {
    content: "\e64a";
}

.icon-yishiyong:before {
    content: "\e64c";
}

.icon-yiguoqi:before {
    content: "\e64d";
}

.icon-bangzhuzhongxin2:before {
    content: "\e64e";
}

.icon-xinshoubidu1:before {
    content: "\e64f";
}

.icon-guanyuwomen1:before {
    content: "\e650";
}

.icon-wode_yixuan:before {
    content: "\e651";
}

.icon-wode_weixuan:before {
    content: "\e652";
}

.icon-shouye_yixuan:before {
    content: "\e653";
}

.icon-shouye_weixuan:before {
    content: "\e654";
}

.icon-xuhao4:before {
    content: "\e655";
}

.icon-xuhao5:before {
    content: "\e656";
}

.icon-xuhao6:before {
    content: "\e657";
}

.icon-xuhao7:before {
    content: "\e658";
}

.icon-jindu_dangqian1:before {
    content: "\e659";
}