<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <!-- <ion-navbar hideBackButton>
        <button navPop><i class="icon-fanhui iconfont"></i></button>
        <ion-title>修改登录密码</ion-title>
    </ion-navbar> -->

    <ion-header>
        <ion-navbar hideBackButton>
            <button navPop><i class="icon-fanhui iconfont"></i></button>
            <ion-title>设置</ion-title>
        </ion-navbar>
    </ion-header>
</ion-header>


<ion-content padding>
        <ion-row class="box1">
            <ion-col col-4>
                <span>原密码</span>
            </ion-col>
            <ion-col col-6>
                <input [type]="type_old" (keyup)='cock_original()' name="password_old" maxlength="20" placeholder='输入原登录密码' required [(ngModel)]="password_old" >
            </ion-col>
            <ion-col col-1 text-center>
                <i class="icon-shanchu iconfont" *ngIf='first_icon' tappable (click)="del_original()"></i>
            </ion-col>
            <ion-col col-1 text-center tappable (click)='seaPassword_old()'>
                    <i class="iconfont" [ngClass]="{true:'icon-display-copy' ,false:'icon-baomi'}[active_old]"></i>
            </ion-col>
        </ion-row>

        <ion-row class="box1"> 
            <ion-col col-4>
                <span>新密码</span>
            </ion-col>
            <ion-col col-6>
                <input [type]="type_new" (keyup)='cock_new()'  name="password_new" maxlength="20"   placeholder='6-20位(字母+数字)' required [(ngModel)]="password_new" >
            </ion-col>
            <ion-col col-1 text-right>
                    <i class="icon-shanchu iconfont" *ngIf='two_icon' tappable (click)="del_new()"></i>
            </ion-col>
             <ion-col col-1 text-center tappable (click)='seaPassword_new()'>
                    <i class="iconfont" [ngClass]="{true:'icon-display-copy' ,false:'icon-baomi'}[active_new]"></i>
            </ion-col>
        </ion-row>

        <ion-row class="box1">
            <ion-col col-4>
                <span>确认密码</span>
            </ion-col>
            <ion-col col-6>
                <input [type]="type_new2" (keyup)='cock_sure()' name="password_new2"  maxlength="20"  placeholder='再次输入新密码' required [(ngModel)]="password_new2" >
            </ion-col>
            <ion-col col-1 text-right>
                    <i class="icon-shanchu iconfont" *ngIf='three_icon' tappable (click)="del_sure()"></i>
            </ion-col>
             <ion-col col-1 text-center tappable (click)='seaPassword_new2()'>
                    <i class="iconfont" [ngClass]="{true:'icon-display-copy' ,false:'icon-baomi'}[active_new2]"></i>
            </ion-col>
        </ion-row>

        <ion-row class="box2">
            <ion-col>
                <button [disabled]="gray" ion-button full tappable (click)='submit()'>确  定</button>
            </ion-col>
        </ion-row>

          <ion-row class="box3">
            <ion-col text-right ><p tappable (click)="go_forget()">忘记密码</p></ion-col>
        </ion-row>
</ion-content>