page-register-success {
    i.iconfont {
        color: $lan;
        font-size: r(156px);
        margin-top: r(180px)
    }
    h1 {
        font-size: r(44px);
        color: $black32;
        font-weight: 600;
    }
    p {
        margin-top: r(90px);
        font-size: r(26px);
        color: $hui90;
        margin-bottom: r(30px);
    }
}